<a href="https://colab.research.google.com/github/PSoni2000/Python-Exercises/blob/main/LoopExercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Exercise 1: Print first 10 natural numbers using while loop**

---



Expected output:

```
1
2
3
4
5
6
7
8
9
10
```

In [ ]:
i = 1
while i <= 10:
  print(i)
  i += 1

1
2
3
4
5
6
7
8
9
10

**Exercise 2: Print the following pattern**

---


Write a Python code to print the following number pattern using a loop.



```
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
```

In [ ]:
n = 5
for i in range(1, n+1):
  for j in range(1, i+1):
    print(j, end=" ")
  print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

**Exercise 3: Calculate sum of all numbers from 1 to a given number**

---


Write a Python program to accept a number from a user and calculate the sum of all numbers from 1 to a given number

For example, if the user entered 10, the output should be 55 (1+2+3+4+5+6+7+8+9+10)

Expected Output:

Enter number 10
Sum is:  55

In [ ]:
num = 10
sum = 0

for i in range(1, num+1):
  sum += i

print(f"Enter number {num} Sum is : {sum}")

Enter number 10 Sum is : 55

**Exercise 4: Print multiplication table of a given number**

---


Given:

num = 2
Expected output is:



```
2
4
6
8
10
12
14
16
18
20
```

In [ ]:
num = 2

for i in range(1,11):
  print(i*num)

2
4
6
8
10
12
14
16
18
20

**Exercise 5: Display numbers from a list using a loop**

---


Write a Python program to display only those numbers from a list that satisfy the following conditions

The number must be divisible by five

If the number is greater than 150, then skip it and move to the following number

If the number is greater than 500, then stop the loop
Given:

numbers = [12, 75, 150, 180, 145, 525, 50]
Expected output:



```
75
150
145
```

In [ ]:
n = [12, 75, 150, 180, 145, 525, 50]

for i in n:
  if(i > 500):
    break
  elif(i > 150):
    continue
  elif(i%5 == 0):
    print(i)

75
150
145

**Exercise 6: Count the total number of digits in a number**

---


Write a Python program to count the total number of digits in a number using a while loop.

For example, the number is 75869, so the output should be 5.

In [ ]:
num = 75869

# using str
print(len(str(num)))

# using loop
n = num
count = 0
while n != 0:
  n = n // 10
  count += 1
print(count)

5
5

**Exercise 7: Print the following pattern**

---


Write a Python program to print the reverse number pattern using a for loop.

```
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1
```

In [ ]:
n = 5
for i in range(n,0,-1):
  for j in range(i,0,-1):
    print(j,end=" ")
  print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

**Exercise 8: Print list in reverse order using a loop**

---


Given:

list1 = [10, 20, 30, 40, 50]
Expected output:

50
40
30
20
10

In [ ]:
# using loops
l = [10, 20, 30, 40, 50]
size = len(l) - 1
for i in range(size, -1, -1):
    print(l[i])

# using reversed()
l2 = [10, 20, 30, 40, 50]
l2 = reversed(l2)

for i in l2:
  print(i)

50
40
30
20
10
50
40
30
20
10

**Exercise 9: Display numbers from -10 to -1 using for loop**

---


Expected output:


```
-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

```

In [ ]:
for i in range(-10, 0, 1):
  print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

**Exercise 10: Display a message “Done” after the successful execution of the for loop**

---


For example, the following loop will execute without any error.

Given:

for i in range(5):
    print(i)
Expected output:



```
0
1
2
3
4
Done!
```

In [ ]:
for i in range(5):
  print(i)
else:
  print("Done!")

0
1
2
3
4
Done!

**Exercise 11: Print all prime numbers within a range**

---


Note: A Prime Number is a number that cannot be made by multiplying other whole numbers. A prime number is a natural number greater than 1 that is not a product of two smaller natural numbers.

Examples:

6 is not a prime number because it can be made by 2×3 = 6
37 is a prime number because no other whole numbers multiply to make it.
Given:

# range
start = 25
end = 50
Expected output:

Prime numbers between 25 and 50 are:


```
29
31
37
41
43
47
```

In [ ]:
def isPrime(n):
  f = True
  for i in range(int(n/2),1,-1):
    if n%i == 0:
      f = False
      break
  return f

start = 25
end = 50

for i in range(start, end,1):
  if isPrime(i):
    print(i)

29
31
37
41
43
47

**Exercise 12: Display Fibonacci series up to 10 terms**

---


Have you ever wondered about the Fibonacci Sequence? It’s a series of numbers in which the next number is found by adding up the two numbers before it. The first two numbers are 0 and 1.

For example, 0, 1, 1, 2, 3, 5, 8, 13, 21. The next number in this series is 13 + 21 = 34.

Expected output:

Fibonacci sequence:
0  1  1  2  3  5  8  13  21  34

In [ ]:
n1 = 0
n2 = 1

for i in range(10):
  print(n1, end=" ")
  temp = n1 + n2
  n1 = n2
  n2 = temp

0 1 1 2 3 5 8 13 21 34

**Exercise 13: Find the factorial of a given number**

---


Write a Python program to use for loop to find the factorial of a given number.

The factorial (symbol: !) means multiplying all numbers from the chosen number down to 1.

For example, a factorial of 5! is 5 × 4 × 3 × 2 × 1 = 120

Expected output:

120

In [ ]:
n = 5
f = 1

if n < 0:
  print("Factorial does not exist")
elif n == 0:
  print(0)
else:
  for i in range(n,0,-1):
    f = f * i
print(f)

120

**Exercise 14: Reverse a integer number**

---


Given:

76542

Expected output:

24567

In [ ]:
num = 76542
reverse_number = 0
print("Given Number ", num)
while num > 0:
    reminder = num % 10
    reverse_number = (reverse_number * 10) + reminder
    num = num // 10
print("Revere Number ", reverse_number)

**Exercise 15: Print elements from a given list present at odd index positions**
Given:

my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
Note: The list index always starts at 0

Expected output:

20 40 60 80 100

In [ ]:
l = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
for i in l[1::2]:
  print(i)

20
40
60
80
100

**Exercise 16: Calculate the cube of all numbers from 1 to a given number**

---


Write a Python program to print the cube of all numbers from 1 to a given number

Given:

input_number = 6

Expected output:



```
Current Number is : 1  and the cube is 1
Current Number is : 2  and the cube is 8
Current Number is : 3  and the cube is 27
Current Number is : 4  and the cube is 64
Current Number is : 5  and the cube is 125
Current Number is : 6  and the cube is 216
```

In [ ]:
n = 6

for i in range(1, n+1):
  print(f"Current Number is : {i} and the cube is {i**3}")

Current Number is : 1 and the cube is 1
Current Number is : 2 and the cube is 8
Current Number is : 3 and the cube is 27
Current Number is : 4 and the cube is 64
Current Number is : 5 and the cube is 125
Current Number is : 6 and the cube is 216

**Exercise 17: Find the sum of the series up to n terms**

---


Write a program to calculate the sum of series up to n terms. For example, if n = 5 the series will become 2 + 22 + 222 + 2222 + 22222 = 24690

Given:

number of terms
n = 5
Expected output:

24690

In [ ]:
n = 5
twos = 0
sum = 0

if n <= 0:
  print("0")
else:
  for i in range(5):
    twos = twos*10 + 2
    sum += twos
  print(sum)

24690

**Exercise 18: Print the following pattern**

---


Write a program to print the following start pattern using the for loop



```
*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*
```

In [ ]:
rows = 5
for i in range(0, rows):
    for j in range(0, i + 1):
        print("*", end=' ')
    print("\r")

for i in range(rows, 0, -1):
    for j in range(0, i - 1):
        print("*", end=' ')
    print("\r")

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*