<a href="https://colab.research.google.com/github/PSoni2000/Python-Exercises/blob/main/PythonBasicExercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Exercise 1: Calculate the multiplication and sum of two numbers**
Given two integer numbers, write a Python code to return their product only if the product is equal to or lower than 1000. Otherwise, return their sum.


---


Given 1:

number1 = 20
number2 = 30
Expected Output:

The result is 600

Given 2:

number1 = 40
number2 = 30
Expected Output:

The result is 70

In [49]:
n1 = 40
n2 = 30

print(n1*n2) if n1*n2 < 1000 else print(n1+n2)

70

**Exercise 2: Print the Sum of a Current Number and a Previous number**
Write a Python code to iterate the first 10 numbers, and in each iteration, print the sum of the current and previous number.


---


Expected Output:

Printing current and previous number sum in a range(10)
Current Number 0 Previous Number  0  Sum:  0
Current Number 1 Previous Number  0  Sum:  1
Current Number 2 Previous Number  1  Sum:  3
Current Number 3 Previous Number  2  Sum:  5
Current Number 4 Previous Number  3  Sum:  7
Current Number 5 Previous Number  4  Sum:  9
Current Number 6 Previous Number  5  Sum:  11
Current Number 7 Previous Number  6  Sum:  13
Current Number 8 Previous Number  7  Sum:  15
Current Number 9 Previous Number  8  Sum:  17

In [50]:
prev = 0
for i in range(0, 10):
    print(f"Current Number {i} Previous Number {prev} Sum: {i+prev}")
    prev = i

Current Number 0 Previous Number 0 Sum: 0
Current Number 1 Previous Number 0 Sum: 1
Current Number 2 Previous Number 1 Sum: 3
Current Number 3 Previous Number 2 Sum: 5
Current Number 4 Previous Number 3 Sum: 7
Current Number 5 Previous Number 4 Sum: 9
Current Number 6 Previous Number 5 Sum: 11
Current Number 7 Previous Number 6 Sum: 13
Current Number 8 Previous Number 7 Sum: 15
Current Number 9 Previous Number 8 Sum: 17

**Exercise 3: Print characters present at an even index number**
Write a Python code to accept a string from the user and display characters present at an even index number.


---


For example, str = "PYnative". so your code should display ‘P’, ‘n’, ‘t’, ‘v’.

Expected Output:

Orginal String is  PYnative
Printing only even index chars
P
n
t
v

In [51]:
s = "PYnative"
for i in s[::2]:
    print(i)

P
n
t
v

**Exercise 4: Remove first n characters from a string**
Write a Python code to remove characters from a string from 0 to n and return a new string.


---


For Example:

remove_chars("PYnative", 4) so output must be tive. Here, you need to remove the first four characters from a string.

remove_chars("PYnative", 2) so output must be native. Here, you need to remove the first two characters from a string.

Note: n must be less than the length of the string.

In [52]:
def remove_char(s,n):
  print(s[n:])

remove_char("PYnative", 4)
remove_char("PYnative", 2)

tive
native

**Exercise 5: Check if the first and last numbers of a list are the same**
Write a code to return True if the list’s first and last numbers are the same. If the numbers are different, return False.


---


Given:

numbers_x = [10, 20, 30, 40, 10]
numbers_y = [75, 65, 35, 75, 30]
Expected Output:

Given list: [10, 20, 30, 40, 10]
result is True

numbers_y = [75, 65, 35, 75, 30]
result is False

In [53]:
def check_same(l):
  if l[0] == l[-1]:
    print(l, True)
  else:
    print(l,False)


x = [10, 20, 30, 40, 10]
y = [75, 65, 35, 75, 30]

check_same(x)
check_same(y)

[10, 20, 30, 40, 10] True
[75, 65, 35, 75, 30] False

**Display numbers divisible by 5**
Write a Python code to display numbers from a list divisible by 5


---


Expected Output:

Given list is  [10, 20, 33, 46, 55]
Divisible by 5
10
20
55

In [54]:
l = [10, 20, 33, 46, 55]
for i in l:
  if i % 5 == 0:
    print(i)

10
20
55

**Exercise 7: Find the number of occurrences of a substring in a string**
Write a Python code to find how often the substring “Emma” appears in the given string.


---


Given:

str_x = "Emma is good developer. Emma is a writer"
Expected Output:

Emma appeared 2 times

In [55]:
s = "Emma is good developer. Emma is a writer"
print(f"Emma appeared {s.count('Emma')} times")

Emma appeared 2 times

Exercise 8: Print the following pattern


---

```
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
```

In [56]:
ptr_len = 5

for i in range(ptr_len +1):
  for j in range(i):
    print(i, end = ' ')
  print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

**Exercise 9: Check Palindrome Number**


---


Write a Python code to check if the given number is palindrome. A palindrome number is a number that is the same after reverse. For example, 545 is the palindrome number.

Expected Output:

original number 121
Yes. given number is palindrome number

original number 125
No. given number is not palindrome number

In [57]:
def check_palendrome(x):
  r = int(str(x)[::-1])
  if x == r:
    print("Yes")
  else:
    print("no")

check_palendrome(121)
check_palendrome(125)

Yes
no

**Exercise 10: Merge two lists using the following condition**

Given two lists of numbers, write a Python code to create a new list such that the latest list should contain odd numbers from the first list and even numbers from the second list.


---


Given:

list1 = [10, 20, 25, 30, 35]
list2 = [40, 45, 60, 75, 90]
Expected Output:

result list: [25, 35, 40, 60, 90]

In [58]:
list1 = [10, 20, 25, 30, 35]
list2 = [40, 45, 60, 75, 90]

print([i for i in list1 if i%2 != 0] + [j for j in list2 if j %2 == 0])

[25, 35, 40, 60, 90]

**Exercise 11: Get each digit from a number in the reverse order.**


---


For example, If the given integer number is 7536, the output shall be “6 3 5 7“, with a space separating the digits.

In [59]:
n = 7536
for i in str(n)[::-1]:
  print(i, end=" ")

6 3 5 7

**Exercise 12: Calculate income tax**
---

Calculate income tax for the given income by adhering to the rules below

Taxable Income	:	Rate (in %)

First $10,000	:	0

Next $10,000	:	10

The remaining	:	20

Expected Output:
For example, suppose the income is 45000, and the income tax payable is

10000*0% + 10000*10%  + 25000*20% = $6000.

In [60]:
income = 45000
tax_payable = 0
print("Given income", income)

if income <= 10000:
    tax_payable = 0
elif income <= 20000:
    # no tax on first 10,000
    x = income - 10000
    # 10% tax
    tax_payable = x * 10 / 100
else:
    # first 10,000
    tax_payable = 0

    # next 10,000 10% tax
    tax_payable = 10000 * 10 / 100

    # remaining 20%tax
    tax_payable += (income - 20000) * 20 / 100

print("Total tax to pay is", tax_payable)

Given income 45000
Total tax to pay is 6000.0

**Exercise 13: Print multiplication table from 1 to 10**
Expected Output:

```
1  2 3 4 5 6 7 8 9 10
2  4 6 8 10 12 14 16 18 20
3  6 9 12 15 18 21 24 27 30
4  8 12 16 20 24 28 32 36 40
5  10 15 20 25 30 35 40 45 50
6  12 18 24 30 36 42 48 54 60
7  14 21 28 35 42 49 56 63 70
8  16 24 32 40 48 56 64 72 80
9  18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100
```

In [61]:
for i in range(1,11):
  for j in range(1,11):
    print(f"{i*j}", end=" ")
  print()

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

**Exercise 14: Print a downward half-pyramid pattern of stars**


---

```
* * * * *  
* * * *  
* * *  
* *  
*
```

In [62]:
n = 5
for i in range(n,0,-1):
  for j in range(i):
    print("*",end=" ")
  print()

* * * * *
* * * *
* * *
* *
*

**Exercise 15: Get an int value of base raises to the power of exponent**
Write a function called exponent(base, exp) that returns an int value of base raises to the power of exp.


---


Note here exp is a non-negative integer, and the base is an integer.

Expected output

Case 1:

base = 2
exponent = 5

2 raises to the power of 5: 32 i.e. (2 *2 * 2 *2 *2 = 32)
Case 2:

base = 5
exponent = 4

5 raises to the power of 4 is: 625
i.e. (5 *5 * 5 *5 = 625)

In [63]:
base = 2
exponent = 5

bs = (str(base) + '*')*(exponent-1) + str(base)

print(f"{2} raises to the power of {exponent}: {base**exponent} i.e. ({bs} = {base**exponent})")

2 raises to the power of 5: 32 i.e. (2*2*2*2*2 = 32)