<a href="https://colab.research.google.com/github/PSoni2000/Python-Exercises/blob/main/PythonInputandOutputExercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Exercise 1: Accept numbers from a user**


---


Write a program to accept two numbers from the user and calculate multiplication

In [36]:
x = int(input("Enter first number : "))
y = int(input("Enter Second number : "))
print(x*y)

Enter first number : 2
Enter Second number : 3
6

**Exercise 2: Display three string “Name”, “Is”, “James” as “Name \*\*Is\*\*James”**


---


Use the print() function to format the given words in the mentioned format. Display the ** separator between each string.

Expected Output:

For example: print('Name', 'Is', 'James') will display Name**Is**James

In [37]:
a = "Name"
b = "Is"
c = "James"

print(a,b,c,sep="**")

Name**Is**James

**Exercise 3: Convert Decimal number to octal using print() output formatting**


---


Given:

num = 8
Expected Output:

The octal number of decimal number 8 is 10

In [38]:
num = 8
print('%o' % num)

10

**Exercise 4: Display float number with 2 decimal places using print()**

---


Given:

num = 458.541315
Expected Output:

458.54

In [39]:
num = 458.541315
print('%.2f' % num)

458.54

**Exercise 5: Accept a list of 5 float numbers as an input from the user**

---


Refer:

Take list as a input in Python.
Python list
Expected Output:

[78.6, 78.6, 85.3, 1.2, 3.5]

In [40]:
l = []
for i in range(5):
  l.append(float(input(f"Enter number at location {i} : ")))
print(l)

Enter number at location 0 : 1.1
Enter number at location 1 : 2.4
Enter number at location 2 : 3.6
Enter number at location 3 : 4
Enter number at location 4 : 5.10
[1.1, 2.4, 3.6, 4.0, 5.1]

**Exercise 6: Write all content of a given file into a new file by skipping line number 5**

---

Given test.txt file:

line1
line2
line3
line4
line5
line6
line7


Expected Output: new_file.txt

line1
line2
line3
line4
line6
line7

In [ ]:
# read test.txt
with open("test.txt", "r") as fp:
    # read all lines from a file
    lines = fp.readlines()

# open new file in write mode
with open("new_file.txt", "w") as fp:
    count = 0
    # iterate each lines from a test.txt
    for line in lines:
        # skip 5th lines
        if count == 4:
            count += 1
            continue
        else:
            # write current line
            fp.write(line)
        # in each iteration reduce the count
        count += 1

**Exercise 7: Accept any three string from one input() call**

---



Write a program to take three names as input from a user in the single input() function call.

Enter three string Emma Jessa Kelly
Name1: Emma
Name2: Jessa
Name3: Kelly

In [42]:
s1, s2, s3 = input("Enter three strings : ").split()
print("String 1 = " + s1)
print("String 2 = " + s2)
print("String 3 = " + s3)

Enter three strings : Emma Jessa Kelly
String 1 = Emma
String 2 = Jessa
String 3 = Kelly

**Exercise 8: Format variables using a string.format() method.**

---

Write a program to use string.format() method to format the following three variables as per the expected output

Given:

totalMoney = 1000

quantity = 3

price = 450

Expected Output:

I have 1000 dollars so I can buy 3 football for 450.00 dollars.

In [43]:
totalMoney = 1000
quantity = 3
price = 450.123456

print("I have {1} dollars so i can buy {0} football for {2:.2f} dollars".format(quantity, totalMoney, price))

I have 1000 dollars so i can buy 3 football for 450.12 dollars

**Exercise 9: Check file is empty or not**

---

Write a program to check if the given file is empty or not

In [ ]:
import os

size = os.stat("test.txt").st_size
if size == 0:
    print('file is empty')

**Exercise 10: Read line number 4 from the following file**

---



test.txt file:



```
line1
line2
line3
line4
line5
line6
line7
```

In [ ]:
# read file
with open("test.txt", "r") as fp:
    # read all lines from a file
    lines = fp.readlines()
    # get line number 4
    print(lines[3\])